__pycache__/
.hypothesis/

.pytest_cache/
*.py[cod]
*$py.class
*.o
*~
applications/dnn/helpers/__pycache__
applications/dnn/inference/adc/adc_dac_inputs/
applications/dnn/inference/network_outputs/
applications/dnn/training/console_output/
applications/dnn/training/cross_sim_models/
applications/dnn/training/sweep_results/
applications/dnn/training/weight_update_stats/
applications/dnn/inference/errorloop_outputs/
tutorial/.ipynb_checkpoints/
tutorial/params_64.json
CrossSim.egg-info/
venv/
scratch/
tests/behavioral_tests/logs/
simulator/tests/logs/
docs/sphinx/build
.hypothesis/
.DS_store
.tox/
.ruff_cache/
.mypy_cache/
.vscode/
